/data/
/sql scripts/test.sql
/.env

# notebooks
/chronic_disease_modelling.ipynb
/population_modelling.ipynb

# airflow
/logs/
/config/
/include/data/
/dags/data/

# terraform
/infra/*.lock.hcl
/infra/*.tfstate
/infra/*.backup
/infra/.terraform/